* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 40px 1fr 40px;
  gap: 4px;
  grid-template-areas:
    "header header"
    "sidebar nav"
    "sidebar article"
    "footer footer";
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: #393f4d;
}

.logo {
  text-align: left;
}

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu ul,
.menu li {
  list-style-type: none;
  font-size: 16px;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.side-content,
.photo {
  display: grid;
  align-items: center;
}

.nav {  
  grid-area: nav;
  background-color: #C50208;
}

.nav ul {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;  
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  grid-area: article;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #bccbde;
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}